:root{
    --white:#FFFFFF;
    --black:#000000;
    --graybase:#616A6B ;
    --base-color-dark:#eee4e4;
    --base-color-light:#f3eded;
    --blue-light:#145374;
    --blue-dark:#00334E;
    --salmon-focus:#EE6F57;
    --sm:14px;
    --md:18px;
    --lg:22px;
    --xx:26px;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
@media(min-width:1024px){
.principal{
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
}
/*In this container you can see the design to the header with the navigation*/
    .principal .main_head{
        display: flex;
        height: 100vh;
        width:80px;
        }
        .principal .main_head .head{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            height: 100vh;
            width:80px;
            background: var(--blue-dark);
            place-items: center;
            align-items: center;
            justify-items: center;
            }
            .principal .main_head .head .logotype_brand img:nth-child(1){
                    width: 180px;
                    height: auto;
                    transform: rotate(-90deg);
                    margin-bottom: 124px;
                    }
            .principal .main_head .head .logotype_brand img:nth-child(2){
                    display: none;
                        }
            .principal .main_head .head a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: var(--md);
                    font-weight: bold;
                    transform: rotate(-90deg) translate(-124px, 0px);
                    color: var(--white);
                    }
                .principal .main_head .head a {
                                    background-image: linear-gradient(currentColor, currentColor);
                                    background-position: 0% 100%;
                                    background-repeat: no-repeat;
                                    background-size: 0% 1px;
                                    transition: background-size .3s;
                                }
                .principal .main_head .head a:hover,
                .principal .main_head .head a:focus {
                                    background-size: 100% 1px;
                                }
    /*This content includes the styles of main part and apps*/
    .principal .main_container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        place-content: center;
        place-items: center;
        align-items: center;
        justify-content: center;
    }
    /*In this bloks you can see the design to the description part*/
        .principal .main_container .container_description{
        display: flex;
        flex-direction: column;
        place-content: center;
        margin: 0 12px 0 12px;
        padding: 12px;
        }
        .principal .main_container .container_description h1{
            font-weight: bold;
            place-items: center;
            align-items: center;
            color:var(--blue-dark);
            margin: 24px 0 0 12px;
        }
        .principal .main_container .container_description p:nth-child(2){
            font-size: var(--md);
            place-items: center;
            align-items: center;
            margin: 24px 0 0 12px;
        }
        .principal .main_container .container_description p:nth-child(3){
            font-size: var(--md);
            font-weight: 800;
            color:var(--blue-dark);
            margin: 24px 0 0 12px;
        }
        .principal .main_container .container_description ul{
            display: flex;
            flex-direction: column;
            margin: 24px 0 0 12px;
            padding: 0;
        }
        .principal .main_container .container_description ul li{
            font-size: var(--md);
            text-decoration: none;
            list-style: none;
            padding: 8px 0 8px 0px;
        }
        .principal .main_container .container_description ul li a{
            text-decoration: none;
            padding: 8px 8px 8px 8px;
            color: var(--blue-dark);
        }
        .principal .main_container .container_description ul li a:hover{
            text-decoration: none;
            list-style: none;
            border: 1px solid var(--salmon-focus);
            cursor: pointer;
            color: var(--salmon-focus);
        }
        /*In this block you can see the design to the app part*/
        .principal .main_container .container_apps{
            display: flex;
            flex-direction: column;
            place-content: center;
            align-content: center;
            justify-content: center;
            height: 100vh;
        }
        .principal .main_container .container_apps .aplicacion{
            display: flex;
            flex-direction: row;
            place-items: center;
            align-items: center;
            border: 2px solid var(--blue-dark);
            border-radius: 16px;
            margin: 8px 20px 8px 0;
            padding: 12px;
            cursor: pointer;
            color: var(--blue-dark);
    }
        .principal .main_container .container_apps .aplicacion img:nth-child(1){
            width: 96px;
            display: block;
            transition: opacity 1.5s ease-in-out;
            z-index: 2;
        }
        .principal .main_container .container_apps .aplicacion img:nth-child(2){
            position: absolute;
            width: 96px;
            display: block;
        }
        .principal .main_container .container_apps .topic{
            font-size: var(--lg);
            font-weight: bold;
            padding: 0 0 8px 0;
        }
        .principal .main_container .container_apps .descripcion{
            font-size: var(--md);
            }
        .principal .main_container .container_apps .topic a{
            color: var(--blue-dark);
            text-decoration: none;
        }
        .principal .main_container .container_apps .little_container{
            padding: 0 0 0 32px
        }
        .principal .main_container .container_apps .aplicacion:hover{
            display: flex;
            flex-direction: row;
            place-items: center;
            align-items: center;
            border: 2px solid var(--white);
            border-radius: 32px;
            padding: 16px;
            margin: 16px;
            background:var(--salmon-focus);
            color: var(--base-color-light);
            transition: all 0.3s;
            }
            .principal .main_container .container_apps .aplicacion img:nth-child(1):hover{
                width: 96px;
                display: none;
                transition: opacity 1.5s ease-in-out;
                z-index: 1;
            }
            .principal .main_container .container_apps .aplicacion img:nth-child(2):hover{
                width: 96px;
                display: block;
                transition: opacity 1.5s ease-in-out;
                z-index: 2;
            }
            .principal .main_container .container_apps .topic a:hover {
                color: var(--base-color-dark);
            }

        }
/*DISEÑO RESPONSIVO*/
@media(max-width:1024px){
    .principal{
        display: flex;
        flex-direction: column;
    }
    .principal .main_head{
        display: flex;
        flex-direction: column;
    }
    .principal .main_head .head{
        display: flex;
        justify-content: space-between;
        place-items: center;
        align-items: center;
        justify-items: center;
        height: 84px;
        width: 100vw;
        background: var(--blue-dark);
    }
    .principal .main_head .head .logotype_brand img:nth-child(1){
        display: none;
        }
    .principal .main_head .head .logotype_brand img:nth-child(2){
        width: 56px;
        height: 56px;
        padding: 8px 0 0 40px;
        align-items: center;
        place-items: center;
        justify-items: center;
        align-content: center;
            }
    .main_head .head a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: var(--md);
            font-weight: bold;
            color:var(--white);
            margin: 0 40px 0 0;
    }
            .main_head .head a {
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }
            .main_head .head a:hover,
            .main_head .head a:focus {
                background-size: 100% 1px;
            }
            .principal .main_container{
                display: flex;
                flex-direction: column;
            }
            .principal .main_container .container_description{
                display: flex;
                flex-direction: column;
                place-content: center;
                align-items: center;
                justify-content: center;
                justify-items: center;
                }
                .principal .main_container .container_description h1:nth-child(1){
                    padding: 0;
                    font-weight: bold;
        
                    color:var(--blue-dark);
                    }
                .principal .main_container .container_description p:nth-child(2){
                    font-size: var(--sm);
                    color: var(--blue-dark);
                    padding: 0 12px 0 12px;
                }
                .principal .main_container .container_description p:nth-child(3){
                    font-size: var(--sm);
                    font-weight: 600;
                    color:var(--blue-dark);
                }
                .principal .main_container .container_description ul{
                    display: flex;
                    place-content: center;
                    padding: 0;
                    margin: 0;
                }
                .principal .main_container .container_description ul li{
                    font-size: var(--sm);
                    text-decoration: none;
                    list-style: none;
                    margin:4px 8px 4px 8px;
                    padding: 6px;
                }
                .principal .main_container .container_description ul li a{
                    text-decoration: none;
                    color: var(--blue-dark);
                }
                .principal .main_container .container_description ul li a:hover{
                    text-decoration: none;
                    list-style: none;
                    cursor: pointer;
                    color: var(--salmon-focus);
                    padding:4px;
                    }
                .principal .main_container .container_apps{
                    display: grid;
                    place-content: center;
                    width: 100wh;
                }
                .principal .main_container .container_apps .aplicacion{
                    width: 100wh;
                    display: flex;
                    flex-direction: row;
                    place-items: center;
                    align-items: center;
                    border: 2px solid var(--blue-dark);
                    border-radius: 32px;
                    padding: 16px;
                    margin: 8px;
                    cursor: pointer;
                    color: var(--blue-dark);
            }
                .principal .main_container .container_apps .aplicacion img:nth-child(1){
                    width: 72px;
                    height: 72px;
                    display: block;
                    transition: opacity 1.5s ease-in-out;
                    z-index: 2;
                }

                .principal .main_container .container_apps .aplicacion img:nth-child(2){
                    position: absolute;
                    width: 72px;
                    height: 72px;
                    display: block;
                }
                .principal .main_container .container_apps .topic{
                    font-weight: 600;
                    font-size:var(--lg);
                    padding: 0 0 8px 0;
                }
                .principal .main_container .container_apps .descripcion{
                    font-size:var(--md);
                }
                .principal .main_container .container_apps .topic a{
                    color: var(--blue-dark);
                    text-decoration: none;
                }
                .principal .main_container .container_apps .little_container{
                    padding: 0 0 0 32px
                }
                .principal .main_container .container_apps .aplicacion:hover{
                    display: flex;
                    flex-direction: row;
                    place-items: center;
                    align-items: center;
                    border: 2px solid var(--white);
                    border-radius: 32px;
                    padding: 16px;
                    margin: 16px;
                    background:var(--salmon-focus);
                    color: var(--base-color-light);
                    transition: all 0.3s;
                    }
                    .principal .main_container .container_apps .aplicacion img:nth-child(1):hover{
                        width: 72px;
                        height: 72px;
                        display: none;
                        transition: opacity 1.5s ease-in-out;
                        z-index: 1;
                    }
                    .principal .main_container .container_apps .aplicacion img:nth-child(2):hover{
                        width: 72px;
                        height: 72px;
                        display: block;
                        transition: opacity 1.5s ease-in-out;
                        z-index: 2;
                    }
}
