:root{
    --white:#FFFFFF;
    --black:#000000;
    --graybase:#616A6B ;
    --grabase-light:#a99191;
    --base-color-dark:#eee4e4;
    --base-color-light:#f3eded;
    --blue-light:#145374;
    --blue-dark:#00334E;
    --salmon-focus:#EE6F57;
    --text-input-field: #F7F7F7;
    --very-blue-light:#407b9b;

    --vv:8px;
    --va:10px;
    --sm:14px;
    --md:16px;
    --lg:20px;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    }
.main_container{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
    place-content: center;
    place-items: center;
    align-items: center;
}
.container_branch{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
.container_branch .title{
    font-size: var(--lg);
    font-weight: bold;
    margin:0 0 12px 0;
}
.container_branch .titles{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin:0 0 12px 0;
    font-size: var(--sm);
}
    .container_branch .titles img{
        width: 30px;
        margin: 0 8px 0 0;
    }
.container_solution{
    display: flex;
    width: 600px;
    flex-direction: row;
    place-content: center;
    place-items: center;
    align-items: center;
    align-content: center;
    border: 1px solid var(--base-color-dark);
    border-radius: 16px;
    padding: 6px;
    background: var(--base-color-dark);
}
    .container_solution .container_coupons{
        margin: 0 24px 0 0 ;
        display: flex;
        flex-direction: column;
        border-radius: 16px ;
        border: 1px solid var(--base-color-light);
        padding: 12px;
        background:var(--blue-light);
        color: var(--white);
                            }
        .container_solution .container_coupons .coupons{
            font-size: var(--md);
            margin: 16px 0 8px 0;
        }
        .container_solution .container_coupons .coupons_product{
            margin: 8px 0 16px 0;
            font-size: var(--sm);
        }
    .container_solution .form .container_business{
        margin: 0 0 0 24px ;
        border: none;
        padding: 12px 6px 12px 6px;
        border-radius: 16px ;
        display: flex;
        flex-direction: column;
        width: 300px;
    }
        .container_solution .form .container_business .label{
        font-size: var(--sm);
        margin-bottom: 4px;
        font-weight: bold;
        }
        .container_solution .form .container_business .input{
            font-size: var(--sm);
            margin-bottom: 8px;
            border-radius: 4px;
            border:none;
            background:var(--white);
            height: 32px;
            }
        .container_solution .form .container_business p:nth-child(5){
            margin-top: 8px;
            color: #EE6F57;
            font-weight: bold;
            }
            .container_solution .form .container_business .coupon_selected{
                place-content: center;
                place-items: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        .container_solution .form .container_business .button_container{
            display: grid;
            place-content: center;
            place-items: center;
        }
            .container_solution .form .container_business .button_container button{
                border-radius: 24px;
                background: var(--salmon-focus);
                color: var(--base-color-light);
                height: 40px;
                cursor: pointer;
                border: none;
            }
            .container_solution .form .container_business .button_container button:hover{
                border: 1px solid var(--salmon-focus);
                border-radius: 24px;
                background: var(--base-color-dark);
                color: var(--salmon-focus);
                padding: 6px;
            }
            .container_solution .form .container_business .result_container{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .container_solution .form .container_business .result_container p{
                color:var(--blue-light);
                font-weight: bold;
            }

/*Responsive design*/
@media(max-width:650px){

.container_branch{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
        }
.container_branch .title{
    font-size: var(--sm);
    margin:0;
}
.container_solution{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
}

.container_solution .container_coupons{
    margin: 0
}
.container_solution .container_coupons .coupons{
    margin: 1px ;
    font-size: var(--sm);

                        }
.container_solution .form .container_business{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin:0 ;
    border: none;
    padding:0;
    border-radius: 16px ;
    width: 100%;
    justify-content: start;
}
.container_solution .form{
    margin: 8px 0 0 0;
}

.container_solution .form .container_business .label{
    font-size: var(--sm);
    margin-top: 4px ;
    margin-bottom: 4px;
    font-weight: bold;
    }

    .container_solution .form .container_business p:nth-child(5){
        margin-top: 8px;
        color: #EE6F57;
        font-weight: bold;
        }
}
