:root{
    --white:#FFFFFF;
    --black:#000000;
    --graybase:#616A6B ;
    --grabase-light:#a99191;
    --base-color-dark:#eee4e4;
    --base-color-light:#f3eded;
    --blue-light:#145374;
    --blue-dark:#00334E;
    --salmon-focus:#EE6F57;
    --text-input-field: #F7F7F7;
    --very-blue-light:#407b9b;
    --vv:10px;
    --sm:14px;
    --md:18px;
    --lg:22px;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    }
.contenedor{
    display: flex;
    place-content: center;
    width: 100%;
    height:100vh;
    background: var(--blue-light);
}
.subcontenedor{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    padding: 32px;
    column-gap: 32px;
    }

.figura{
    border: 2px solid var(--blue-dark);
    border-radius: 32px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 4px 4px;
    padding: 16px;
}
.figura .encabezado{
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: var(--lg);
    font-weight:bold;
}
.figura .encabezado img{
    width: 100px;
    height: 100px;
}
.figura form{
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.figura form .label {
    font-size: var(--md);
    margin-bottom: 4px;
    z-index: 1;
}


.figura form .input-lado {
    background-color: var(--text-input-field);
    border: 1px solid var(--white);
    border-radius: 8px;
    height: 24px;
    font-size: var(--md);
    padding: 4px;
    margin-bottom: 4px;
    place-items: center;
}

.figura .botonera{
    display: flex;
    flex-direction: row;
    place-content: center;
    text-align: center;
    place-content: center;
}

.figura button{
    border-radius: 16px;
    background: var(--base-color-light);
    border: 1px solid var(--blue-light);
    color: var(--blue-light);
    cursor: pointer;   
    width: 100%;
    height: 32px;
    margin: 8px;
    font-size: var(--md);
}

.figura button:hover{
    border-radius: 16px;
    background:var(--blue-light);
    border: 1px solid var(--base-color-light);
    color:var(--base-color-light);;
    cursor: pointer;
    text-align: right;
    width: 100%;
}

.figura .resultados{
    display: flex;
    flex-direction: column;
    place-items: center;
    font-size: var(--md);
    font-weight:500;
    margin: 0px;
    color: var(--salmon-focus);
}

.figura .resultados p{
    border-bottom:1px solid var(--base-color-dark);
}


@media(max-width: 850px){
    .contenedor{
        display: grid;
        place-content: center;
        width: 100%;
        height:100% ;
        background: var(--blue-light);
    }
    .subcontenedor{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 4px;
        padding: 8px 4px 8px 4px;
            }
    .figura{
        border: 2px solid var(--blue-dark);
        border-radius: 16px;
        background: var(--base-color-dark);
        display: flex;
        flex-direction: column;
        gap: 4px 4px;
        padding: 8px;
        margin: 8px;
            }
}



