:root{
    --white:#FFFFFF;
    --black:#000000;
    --graybase:#616A6B ;
    --base-color-dark:#eee4e4;
    --base-color-light:#f3eded;
    --blue-light:#145374;
    --blue-dark:#00334E;
    --salmon-focus:#EE6F57;
    --sm:12px;
    --md:16px;
    --lg:20px;
    --xx:24px;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
@media(min-width:1024px){
.principal{
    display: flex;
    flex-direction: row;
}
    .principal .main_head{
        display: flex;
        }
        .principal .main_head .head{
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            height: 100vh;
            width: 96px;
            background: var(--blue-dark);
            place-items: center;
            align-items: center;
            justify-items: center;
            }
            .principal .main_head .head .logotype_brand img:nth-child(1){
                    width: 150px;
                    height: auto;
                    transform: rotate(-90deg);
                    margin-bottom: 100px;
                    }
            .principal .main_head .head .logotype_brand img:nth-child(2){
                    display: none;
                        }
            .principal .main_head .head a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: var(--md);
                    font-weight: bold;
                    transform: rotate(-90deg) translate(-100px, 0px);
                    color: var(--white);
                    }
                .principal .main_head .head a {
                                    background-image: linear-gradient(currentColor, currentColor);
                                    background-position: 0% 100%;
                                    background-repeat: no-repeat;
                                    background-size: 0% 2px;
                                    transition: background-size .3s;
                                }
                .principal .main_head .head a:hover,
                .principal .main_head .head a:focus {
                                    background-size: 100% 2px;
                                }
    .principal .main_container{
        display: flex;
    }
        .principal .main_container .container_description{

        }

        .principal .main_container .container_apps{
            display: grid;
            place-content: center;
        }
        .principal .main_container .container_apps:hover{
            display: grid;
            place-content: center;
        }
        .principal .main_container .container_apps .aplicacion{
            display: flex;
            flex-direction: row;
            place-items: center;
            align-items: center;
            border: 2px solid var(--blue-dark);
            border-radius: 16px;
            padding: 16px;
            margin: 12px;
            cursor: pointer;
            color: var(--blue-dark);
        }
        .principal .main_container .container_apps .aplicacion img:nth-child(1){
            width: 100px;
            display: block;
        }
        .principal .main_container .container_apps .aplicacion img:nth-child(2){
            width: 100px;
            display: none;
        }
        .principal .main_container .container_apps .topic{
            font-weight: 600;
            font-size:var(--xx);
            padding: 0 0 8px 0;
        }
        .principal .main_container .container_apps .little_container{
            padding: 0 0 0 32px
        }
        .principal .main_container .container_apps .aplicacion:hover{
            display: flex;
            flex-direction: row;
            place-items: center;
            align-items: center;
            border: 2px solid var(--white);
            border-radius: 32px;
            padding: 16px;
            margin: 16px;
            background:var(--salmon-focus);
            color: var(--base-color-light);
            transition: all 0.3s;
            }
}

@media(max-width:1024px){
    .main_head{
        display: flex;
    }
    .main_head .head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        place-items: center;
        align-items: center;
        justify-items: center;
        height: 96px;
        width: 100vw;
        background: var(--blue-dark);
    }

    .main_head .head .logotype_brand img:nth-child(1){
        display: none;

        }
    .main_head .head .logotype_brand img:nth-child(2){
        width: 64px;
        height: 64px;
        padding: 8px 0 0 100px;
        align-items: center;
        place-items: center;
        justify-items: center;
        align-content: center;
            }
    .main_head .head a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: var(--md);
            font-weight: bold;
            color:var(--white);
            margin: 0 100px 0 0;
    }
            .main_head .head a {
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .3s;
            }
            .main_head .head a:hover,
            .main_head .head a:focus {
                background-size: 100% 2px;
            }


}
