:root{
    --white:#FFFFFF;
    --black:#000000;
    --graybase:#616A6B ;
    --grabase-light:#a99191;
    --base-color-dark:#eee4e4;
    --base-color-light:#f3eded;
    --blue-light:#145374;
    --blue-dark:#00334E;
    --salmon-focus:#EE6F57;
    --text-input-field: #F7F7F7;
    --very-blue-light:#407b9b;
    --vv:10px;
    --sm:14px;
    --md:18px;
    --lg:22px;
}
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    }
.main_container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}
.container_topic{
    width: 850px;
    display: flex;
    flex-direction: row;
    place-content: center;
    place-items: center;
    align-items: center;
    justify-content: space-around;
    background:var(--blue-dark);
    border-radius: 16px 16px 0 0 ;
}
    .container_topic h1{
        font-weight:700;
        font-size:var(--lg) ;
        color: var(--base-color-light);
        }
    .container_topic img{
        width: 150px;
    }
.container_salary{
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    place-content: center;
    place-items: center;
    border: 2px solid var(--base-color-dark);
    border-radius: 0 0 16px 16px;
    margin-bottom: 4px;
    background: var(--base-color-light);
}
    .container_salary .label{
        margin: 0 4px 0 0;
        font-size: var(--md);
    }
    .container_salary .input-sueldo{
        margin: 0 0 0 6px;
        border: none;
        background: var(--white);
        height: 32px;
        border-radius: 32px;
        padding: 8px;
        font-size: var(--md);
        }

.container_body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px 16px 20px 16px;
    border-radius: 16px;
    border: 2px solid var(--base-color-dark);
    background: var(--base-color-light);
}
    .container_left{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .container_left .container_expenses{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 8.5px;
    }
        .container_left .container_expenses .item{
            margin: 8px 8px 8px 0;
        }
        .container_left .container_expenses .check{
            margin: 0 0 0 3px 0;
        }
    .container_left .container_values{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 1px 0 0 0;
    }
        .container_left .container_values .valor{
            margin: 5px;
            border: 0.5px solid var(--graybase);
            border-radius: 32px;
            background-color:var(--white);
            padding: 8px;
            align-items: center;
            align-content: center;
            place-content: center;
            place-items: center;
        }
    .container_right{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
        margin: 0;
        place-content: center;
        place-items: center;
        align-items: center;
        align-content: center;
    }

    .container_right .boton{
        border: 1px solid var(--salmon-focus);
        border-radius: 32px;
        color: var(--salmon-focus);
        background: var(--white);
        height: 36px;
        padding: 8px;
        font-size: var(--md);
        font-weight: bold;
        cursor: pointer;
    }
    .container_right .boton:hover{
        border: 1px solid var(--base-color-light);
        border-radius: 36px;
        color: var(--base-color-light);
        background: var(--salmon-focus);
        height: 40px;
        padding: 10px;
    }
    .container_right p{
        color: var(--salmon-focus);
        font-size: 16px;
        font-weight: 500;
        padding: 0 10px 0 10px;
        font-weight:bold;

    }

    /*Design mobile*/
@media(max-width: 850px){
    .main_container{
        width: 100vw;
        height:100vh;
        display: grid;
        place-content: center;
    }

    .container_topic{
        width: 650px;
        height: 40px;
        display: flex;
        flex-direction: row;
        place-content: center;
        place-items: center;
        align-items: center;
        justify-content: space-around;
        background:var(--blue-dark);
        border-radius: 16px 16px 0 0;
        border: 2px solid var(--blue-light);
    }
        .container_topic h1{
            font-weight:700;
            font-size:var(--lg) ;
            color: var(--base-color-light);
            }
        .container_topic img{
            display: none;
        }
    .container_salary{
        width: 650px;
        padding:0 0 4px 0;
        display: flex;
        flex-direction: row;
        border: 2px solid var(--base-color-dark);
        border-radius: 0 0 16px 16px;
        margin-bottom: 4px;
        background: var(--base-color-light);
        align-items: center;
        align-content: center;
        place-content: center;
        place-items: center;
        }
    .container_body{
        width: 650px;
        padding: 4px 0 2px 0;
        }
}

@media(max-width: 660px){
    .main_container{
        width: 100vw;
        height: 100vh;
        display: grid;
        place-content: center;
    }

    .container_topic{
        width: 350px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        place-content: center;
        place-items: center;
        align-items: center;
        justify-content: space-around;
        background:var(--blue-dark);
        border-radius: 16px 16px 0 0;
        border: 2px solid var(--blue-light);
    }
        .container_topic h1{
            font-weight:700;
            font-size:var(--md) ;
            color: var(--base-color-light);
            margin: 0;
            }
        .container_topic img{
            display: none;
        }
    .container_salary{
        width: 350px;
        padding:0 0 4px 0;
        display: flex;
        flex-direction: column;
        border: 2px solid var(--base-color-dark);
        border-radius: 0 0 16px 16px;
        margin-bottom: 4px;
        background: var(--base-color-light);
        align-items: center;
        align-content: center;
        place-content: center;
        place-items: center;
        }
        .container_salary .label{
            font-size:16px;
        }
    .container_body{
        width: 350px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 4px 0 2px 0;
        }


}